:root {
  --background-color:#ffffff;
  --text-color:#000000;
}

@font-face {
  src: url("/static/fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
  font-family: "Atkinson Hyperlegible";
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  src: url("/static/fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype");
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

* {
  font-family: "Atkinson Hyperlegible", Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

html, body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

label.custom-file-upload {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  color: white;
}
label.custom-file-upload:hover {
  background-color: #ebebeb;
  color: black;
}
#file-input {
  display: none;
}

.loc-form {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: grid;
  grid-template: "input-label input" "expanded-label expanded";
  grid-template-columns: max-content 1fr;
  gap: 10px;
  align-items: center;
}
.loc-form label {
  text-align: right;
}
.loc-form input {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
}
.loc-form input.invalid {
  border: 1px solid red;
}
.loc-form input.invalid:focus-visible {
  outline-color: red;
}
.loc-form .loc-expanded {
  border: 1px solid grey;
}

.lil-gui .title:hover, .lil-gui .title:focus-visible {
  color: #ebebeb;
}